/*********************** RESET ***********************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/*********************** COLORS ***********************/
:root {
    --bgLight: #f7faff;
    --colorLight: #252525;
    --colorLightSubT: #828282;
}

/*********************** BODY ***********************/
body {
    background: var(--bgLight);
    font-family: 'Inter', sans-serif;
    color: var(--colorLight);
    padding: 2rem;
}

/*********************** MAIN ***********************/
main {
    max-width: 780px;
    margin: 0 auto;
}

main .hero {
    text-align: center;
    padding-bottom: 3rem;
}

.hero .title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1.5rem;
}

.hero .subtitle {
    font-size: 1.1rem;
    color: var(--colorLightSubT);
}

/*********************** BOX ***********************/

.box {
    background: #fff;
    box-shadow: 0 1px 2px rgba(132, 148, 165, 0.1);
    border-radius: 8px;
    margin-bottom: 3rem;
}

/*********************** PASSWORD ***********************/
.password {
    align-items: center;
    display: flex;
    padding: 1rem 1.5rem;
}

.password .text {
    flex: 1;
}

.password .text input {
    font-family: "Inconsolata", serif;
    font-size: 3rem;
    border: none;
    outline: none;
    cursor: default;
    height: 52px;
    width: 100%;
    transition: 0.3s;
    user-select: none;
}

.password .text input.font-sm {
    font-size: 2rem;
}

.password .text input.font-xs {
    font-size: 1.5rem;
}

.password .text input.font-xxs {
    font-size: 1rem;
}

.password .actions button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    opacity: 0.4;
    transition: opacity 0.3s ease-in-out;
}

.password .actions button:hover {
    opacity: 1;
}

/*********************** SECURITY BAR ***********************/
.security-indicator {
    height: 10px;
    background-color: #ddd;
    border-radius: 0px 0px 8px 8px;
}

.security-indicator .bar {
    height: 10px;
    border-radius: 0px 0px 8px 8px;

    transition: 0.3s;
}

.security-indicator .bar.completed {
    border-top-right-radius: 0;
}

.security-indicator .bar.critical {
    background-color: #eb5757;
}

.security-indicator .bar.warning {
    background-color: #f2c94c;
}

.security-indicator .bar.safe {
    background-color: #27ae60;
}

/*********************** CUSTOMIZE ***********************/
.customize {
    padding: 1rem 1.5rem;
}

.customize .title {
    border-bottom: 1px solid #f0f0f0;
    font-weight: bold;
    font-size: 1.75rem;
    margin-bottom: 2rem;
    padding-bottom: 0.75rem;
}

.customize .actions {
    display: flex;
    gap: 3rem;
    color: #828282;
}

.customize .password-lenght {
    flex: 1;
}

.customize .password-lenght .slider {
    appearance: none;
    height: 0.9rem;
    background: #ddd;
    outline: none;
    border-radius: 8px;
    width: 100%;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    margin-top: 1rem;
}

.customize .password-lenght .slider:hover {
    opacity: 1;
}

.customize .password-lenght .slider::-webkit-slider-thumb {
    appearance: none;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background: #9b51e0;
    cursor: pointer;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
}

.checkbox-container input {
    display: none;
}

.checkbox-container .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ddd;
    transition: 0.3s;
}

.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked~.checkmark {
    background-color: #9b51e0;
}

.checkbox-container .checkmark::after {
    content: "";
    display: none;
    position: absolute;
    top: 4px;
    left: 9px;
    height: 13px;
    width: 5px;
    border: solid #fff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.checkbox-container input:checked~.checkmark::after {
    display: block;
}

/*********************** SUBMIT ***********************/
.submit {
    text-align: center;
}

.submit button {
    background-color: #bb6db9;
    font-size: 1.4rem;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    padding: 1rem 2rem;
    transition: 0.3s;
}

.submit button:hover {
    background-color: #9b51e0;
}

/*********************** ALERT ***********************/

.alert-box {
    display: none;
    margin-bottom: 3rem;
    width: 10rem;
    position: fixed;
    right: 10px;
    top: 10px;
    background-color: #37c978;
    color: #fff;
    border-radius: 8px;
    user-select: none;
}

.alert {
    padding: 20px;
    color: white;
    border-radius: 8px;
    user-select: none;
}

/*********************** RESPONSIVE ***********************/

@media only screen and (max-width: 480px) {
    .password {
        padding: 1rem;
    }

    .password .text input {
        font-size: 1.5rem;
    }

    .password .text input.font-sm {
        font-size: 1.2rem;
    }

    .password .text input.font-xs {
        font-size: 1rem;
    }

    .password .text input.font-xxs {
        font-size: 1rem;
    }

    .password .actions img {
        width: 1.4rem;
    }
}